[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-restful = "*"
gevent = "*"
pymongo = "*"
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
python-scrapyd-api = "*"
schedule = "*"
scrapy-redis = "*"
