[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
gevent = "*"
pymongo = "*"
scrapy = "*"
schedule = "*"
scrapy-redis = "*"
scrapyd-client = "*"
python-scrapyd-api = "*"
scrapyd = "*"
pywin32 = "*"
